.git
.github
.idea
.vscode
.zed
.fleet
.nova
*.md
.env
.env.*
!.env.example
auth.json
.phpunit.result.cache
.phpactor.json
.phpunit.cache
Homestead.json
Homestead.yaml
Thumbs.db
.DS_Store
node_modules
vendor
storage/logs/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/app/private/*
storage/app/public/*
storage/pail
bootstrap/cache/*.php
public/hot
public/storage
public/build
tests
database/database.sqlite
*.log
docker-compose*.yml
k8s/secret.yaml
